// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-blue: #7a6ad8;
$purple:#b16ad8;
$light-green: #c8d86a;
$button-card-blue: rgb(34, 15, 78);

$blue-greenish: #1797b1;
$gradient: linear-gradient(90deg, rgba(159,227,241,1) 6%, rgba(23,151,177,1) 100%);
$gradient2: linear-gradient(90deg, rgba(152,199,208,1) 6%, rgba(14,93,109,1) 100%);
$gradient3: linear-gradient(90deg, rgb(80, 182, 202) 6%, rgba(154,227,242,1) 100%);
$gradient-profile-cards: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
$dark-green: #0e5d6d;
$dark-green2:#116c7e;
$orangish: #fab323;
