.bookmarks-page {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.bookmarks-page .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px; /* Compensate for negative margins from padding */
  margin-left: 0; /* Compensate for negative margins from padding */
}

.bookmarks-heading {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.bookmarks-page .resource-image {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-bookmarks-infos .col-4 p {
  font-size: 1.3em;
  text-align: center;
}

.h2-bookmark-title {
  font-family: "Hammersmith One";
  color: black;
  font-size: 28px;
  padding-bottom: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.bookmarks-page .remove-btn {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Hammersmith One";
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.bookmarks-page .remove-btn:hover {
  background-color: #5c636a;
  border-color: #565e64;
}

.no-bookmarks-msg {
  color: white;
  text-align: center;
  font-size: 26px;
}

.back-link-btn {
  text-align: center; /* Center the text within the button */
  font-family: "Hammersmith One";
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.back-link a {
  font-size: 24px;
  color: #013843;
  background-color: #fab323;
  border-radius: 10px;
  padding: 8px 12px;
  text-decoration: none;
}

.back-link a:hover {
  background-color: #013843;
  color: white;
}

@media (max-width: 767px) {
  .bookmarks-page .col-md-4 {
    width: calc(100% - 20px); /* Adjust card width for smaller screens */
  }
}
