.index-body {
  // background: rgb(84, 204, 228);
  // background: linear-gradient(90deg, rgb(80, 182, 202) 6%, rgba(154,227,242,1) 100%);
  // background-color:#1797b1;
  // background: rgb(23,151,177);
  background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
  background-size: cover;
  background-attachment: fixed;
}

.h1-teaching-materials {
  margin-top: 10px;
  color: white;
  font-size: 44px;
  text-align: center;
}

.btn-filter {
  background-color: #fab323;
  color: black;
  border-radius: 10px;
  width: 100px;
  font-size: 24px;
  border: 1px solid grey;
}

.btn-filter:hover {
  background-color: black;
  color: white;
}

.bold-text {
  font-weight: bold;
}

.index-icon {
  color: black;
}

.col p {
  color:black;
}

.teaching-materials-container {
  margin-left: 80px;
  margin-right: 80px;
}
.teaching-materials-container label {
  color:white;
}

.teaching-materials-container .form-control {
  border-radius: 10px;
}

.form-group label {
  color: white;
}
.form-control {
  height: 50px;
}

.card-resource {
  // border: 1px solid black;
  border-radius: 15px;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  // background: rgb(199, 233, 240);
  // background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.h2-cards {
  color: black;
  font-size: 28px;
  padding-bottom: 5px;;
}

.card-resource:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.resource-image {
  height: 50%;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
}

.card-resource-infos p,
.card-resource-infos i {
  font-size: 1.2em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: black;
}

.img-resource-index {
  width: 100%;
  height: 100%;
  display: block;
  // border-radius: 15px;
  object-fit: cover;
  // border: 1px solid black;
}

.card-resource-content {
  padding: 25px;
}

.card-resource-content h2 {
  margin-top: 0;
  text-align: center;
}

.card-resource-content p {
  font-size: 20px;
}

.card-link-index {
  display: block;
  text-decoration: none;
  color: #0e5d6d;
}




// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: #f2f0e5;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
//   margin: 10px;
// }

// .card-product img {
//   width: 120px;
//   height: 120px;
//   object-fit: cover;
//   object-position: center;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   display: flex;
//   justify-content: space-between;
//   padding: 16px;
// }

// .card-product .card-product-infos .row {
//   display: flex;
//   width: 100%;
// }

// .card-product .card-product-infos .col {
//   flex: 1;
//   padding: 0 10px;
// }
