body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
  background-size: cover;
  background-attachment: fixed;
}

.image-text {
  position: absolute;
  bottom: 100px;
  align-items: center;
  left: 45%;
  transform: translateX(-50%);
  text-align: center;
  // left: 650px;
}

.image-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.image-text p {
  font-size: 25px;
  position: absolute;
  bottom: 200px;
  left: -50px;
  color: white;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.discover-link {
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 15px 30px;
  background-color: #fab323;
  color: black;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
  margin-left: 120px;
  margin-bottom: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.discover-link:hover {
  background-color: #013843;
  color:white;
}

.header h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  // border-bottom: 2px solid #ddd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// .icon {
//   font-size: 2em;
//   color: black;
//   margin-bottom: 20px;
// }

.header {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.white-container {
  background-color: #fff;
  padding: 20px;
  transform: translateY(50px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
  height: 450px;
}

.purple-text h1,
.purple-text h2 {
  color: #ffffff;
}

.pale-purple-card {
  background-color: #f0e6f5;
}

.main-content {
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}


.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
    // margin-bottom: 20px;
}

.image-container {
  position: relative;
}


.background-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}


.carousel-item {
  height: 700px;
  transition: transform 1.2s ease-in-out;
}

.carousel-item img {
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center top;
  opacity: 0.9;
  // border-radius: 15px;
}

.carousel {
  margin-bottom: -20px;
  margin-right: 75px;
  margin-left: 75px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-caption {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 350px;
}

.carousel-caption h5 {
  color: white;
  text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 50px;
  // margin-top: 350px;
  margin-bottom: 400px;
}

.github-link {
  margin-left: 5px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.white-container2 {
  // padding: 40px 20px;
  // transform: translateY(75px);
  background-color: transparent;
  margin-top: 50px;
  border-radius: 10px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:100%;
  max-width: 90%;
  margin-bottom: 50px;

}


.white-container2 .card {
  height: 200px;
  text-align: center;
  padding-top: 20px;
}

.white-container2 h2 {
  border-bottom: 2px solid #000000;
  padding-bottom: 0px;
}



.card-body h5 {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}


.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.card-title {
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 15px;
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
  white-space: pre-wrap;
}

.card-body i {
  margin-right: 10px;
}



.landing-comments {
  font-size: 30px;
  // margin-left: 110px;
  // padding-right: 30px;
  color: black;
}

.fa-person-chalkboard {
  font-size: 32px;
  // margin-left: 160px;
  // margin-bottom: 30px;
  // padding-right: 30px;
}

.landing-star {
  font-size: 28px;
  // margin-left: 160px;
  color: black;
  // padding-right: 30px;
}

.card-body i {
  position: absolute;
  top: 15%;
  left: 250px;
  transform: translate(-50%, -50%);
  color: black;
}

.card-body p {
  font-size:24px;
}

.card-body {
  position: relative;
}

.white-container3 {
  text-align: center;
  transform: translateY(30px);
  padding: 150px;
  // background: radial-gradient(ellipse at center bottom, #54cce4, #ffffff 70%);
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 75px;
}

.white-container3 h2 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #000000;
  padding-bottom: 0px;
  width: 97%;
}

.container.white-container3 iframe {
  margin-top: 15px;
}

.pale-purple-card {
  // background: radial-gradient(circle at top, #54cce4, #cef2f2);
  background-color: #fab323;
  opacity: 0.9;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
