main {
  padding: 35px;
}

.circles-left,
.circles-right {
  display:flex;
  flex-direction: column;
  align-items: flex-start
}

.circles-left {
  // margin-right: 20%;
  margin-left: 5%;
}

.circles-right {
  margin-right:7%;
  margin-left: 4%;
}


.circle1,
.circle2,
.circle3,
.circle4 {
  width: 220px;
  height: 220px; /* Adjust the height as needed */
  background-color: #013843; /* Adjust the background color as needed */
  border-radius: 50%; /* Ensure circles */
  margin-bottom: 20px; /* Adjust the spacing between circles */
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle-text {
  text-align:center;
  margin: auto;
  color: white;
  font-size: 24px;
  font-family: "Hammersmith One";
}

.container-show {
  position: relative;
  // background-image: url("laptop-show.png");
  // background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding-top:15px;

}

.iframe {
  // display: flex;
  margin-top: -0.5%;
  justify-content: center;
  align-items: center;
  padding-right: 28%;
  margin-left:15%;
}

.iframe-file {
  height: 95%;
  width: 217%;
  max-height: 120%;
  max-width: 300%;
  padding-bottom: 30%;
  margin-top: -4px;
}

.d-flex.justify-content-between {
  display: flex;
  justify-content: space-between;
}



.d-flex.justify-content-between {
  margin-bottom: 70px;
}

.showpage-btn {
  margin: 0 220px;
}


.content-review {
  text-align: center;
}

.fa-trash .fa-pen-to-square {
  // position: relative;
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.circle-text h3 {
  font-weight:300;
}

.circle-text h6 {
  font-weight: bold;
  font-size: 30px;
}

.no-file-attached {
  font-size: 24px;
  font-family: "Mako";
  text-align: center;
}


.title-review-class {
  color: white;
  font-size: 32px;
  text-align: left;
}

.title-resource-class {

  color: white;
  text-align: center;
  font-size: 48px;
}

.resource-description {
  height: auto;
  width: 800px;
  border-radius: 15px;
  color: black;
  font-family: "Mako";
  font-size: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.showpage-btn {
  background-color: #fab323;
  width: auto;
  height: 65px;
  color: black;
  font-size: 22px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  border: 1px solid black;
}

.showpage-btn a {
  text-decoration: none;
  color: black;
}

.showpage-btn a:hover {
  color: white;
}

.showpage-btn:hover {
  background-color: #013843;
  color: white;
}

.fixed-width {
  width: 500px;
  text-align: center;
}

.plain-links {
  text-align: center;
}

.plain-links a {
  text-decoration: none;
  color: #fab323;
  font-size: 30px;
  font-weight: 400;
  font-family: "Hammersmith One";
}

.plain-links a:hover {
  color: #013843;
}

.fa-comments {
  color: #fab323;
}

.fa-comments:hover {
  color: #013843;
}

.fa-pen-to-square {
  font-size: 40px;
}

.fa-trash {
  font-size: 40px;
}

.rating-resource {
  color: #fab323;
  margin-left: 0;
  margin-right:5px;
}

.review-box {
  margin-top: -50px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content-review {
  text-align: left;
}

.review-list {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
}

.review-content {
  font-size: 24px;
  font-family: "Mako";
}


.content-review p {
  color: white;
  text-align: left;
  font-size: 24px;
}

.reviews-p {
  color: white;
  font-size: 22px;
  font-family: "Mako";
  text-align: center;
  padding-left: 10px;
}


.review-content {
  color: white;
  font-size: 24px;
  font-family: "Mako";
  text-align: left;

}
