
main {
  padding: 35px;
  margin-left: 200px;
  margin-right: 200px;
}

.resource-show {
  background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
  background-size: cover;
  background-attachment: fixed;
}

.show-container {
  background-color: #f2f0e5;
  padding: 85px;
}

.circle {
width: 120px;
height: 120px;
border-radius: 50%;
background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
text-align: center;
vertical-align: middle;
padding-top: 40px;
border-style: solid;
border-width: 0.5px;
border-color: black;
}

.circle-text {
  margin: auto;
  color: black;
  font-size: 12px;
}

.circle-text h3 {
  font-weight: bold;
}

.circle-text h6 {
  font-weight: bold;
}

.title-review-class {
  color: white;
  font-weight: bold;
  vertical-align: middle;
}

.title-resource-class {
  font-weight: bold;
  color: white;
  // display: flex;
  text-align: center;
}

.resource-description {
  height: auto;
  width: 600px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  // padding-top: 15px;
  padding-left: 25px;
  // padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  height: 338px;
  width: 600px;
  margin-top: -50px;
}

.author {
  color: white;
}

.description-pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjust this value according to your design */
}

.showpage-btn {
  background-color: #fab323;
  width: auto;
  height: 26px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  border: none;
}

.showpage-btn a {
  text-decoration: none;
  color: black;
}

.showpage-btn a:hover {
  color: white;
}

.showpage-btn:hover {
  background-color: black;
  color: white;
}

.fixed-width {
  width: 200px;
  text-align: center;
}

.plain-links {
  text-align: center;
}

.plain-links a {
  text-decoration: none;
  color: white;
}

.plain-links a:hover {
  color: #fab323;
}

.fa-pen-to-square {
  font-size: 20px;
}

.fa-trash {
  font-size: 20px;
}

.fa-star {
  color: rgb(159, 227, 241);
}

.review-list {
  list-style-type: none;
  padding: 0;
  line-height: 30px;
}

.review-content {
  color: white;
  font-size: 18px;
  padding-left: 25px;
}
