.container-forgot-password {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: 45%;
  margin: 60px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;


  .btn-forgot-password {
    background-color: #fab323;
    color:black;
    border-radius: 5px;
    padding: 10px 20px;
    }

  .btn-forgot-password:hover {
    background-color: #013843;
    color: white;
  }

}

.h2-password {
  color: white;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.container-forgot-password .forgot-password-form  {
  text-align: left;
}

.container-forgot-password .form-links {
  margin-top: 20px;
  text-align: left;
}


.form-links {
  margin-top: 20px;
  text-align: left;
  color: #0e5d6d;
}

.form-links a {
  text-decoration: none;
  color: inherit;
}

.form-actions {
  margin-top: 20px;
  text-align: left;
}
