.container-edit-materials {
  background-color: #f2f0e5;
  height: auto;
  width: 60%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;
}

h2 {
  color: orange;
  text-align:center;
  }

  .btn-update-materials {
    background-color: rgb(129, 69, 10);
    color: white;
    border-radius: 5px;
  }

  .btn-update-materials:hover {
    background-color: black;
    color: white;
  }
