.container-uploads {
  text-align: center; /* Center the card-links buttons */
  margin-left: 80px; /* Add margin to the left */
  margin-right: 80px; /* Add margin to the right */
}

.card-upload-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Automatically adjust column widths */
  gap: 10px; /* Reduce gap between cards */
}

.card-upload {
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #f2f0e5;
  padding: 10px;
}

.card-links {
  margin-top: 20px; /* Add space between cards and buttons */
  display: inline-block; /* Ensure buttons are inline with the rest of the content */
}

.resource-details a {
  color: rgb(129, 69, 10); /* Set text color */
  text-decoration: none; /* Remove underline from links */
}

.resource-image {
  height: auto;
  width: 80%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-primary {
  background-color: rgb(129, 69, 10); /* Set button background color */
  color: black; /* Set button text color */
}

.btn-primary:hover {
  background-color: black; /* Change button background color on hover */
  color: white; /* Change button text color on hover */
}

@media (min-width: 600px) {
  .card-upload-container {
    grid-template-columns: repeat(3, 1fr); /* Adjust to display 3 columns */
  }
}

h1 {
  margin-top: 10px;
}
