.card-upload-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-left: 80px;
  margin-right: 80px;
  max-width: fit-content;
}



// .link-resource-title {
//   text-decoration: none;
//   text-align: center;
//   color: rgb(34, 15, 78)
//   // cursor: default;
// }

.card-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.resource-image {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.btn-upload {
  background-color: #fab323;
  color: #013843;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
  font-family: "Hammersmith One";
}

.btn-upload:hover {
  background-color:#013843;
  color: white;
}

.btn-secondary {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
  font-family: "Hammersmith One";
}


.my-uploads-title {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.h2-resource-title {
  font-family: "Hammersmith One";
  color: black;
  font-size: 28px;
  padding-bottom: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

// .card-uploads-infos .col-4 i {
//   font-size: 2em;
// }

.card-uploads-infos .col-4 p {
  font-size: 1.3em;
  text-align: center;
}

// .card-uploads-info .col-4-uploads p,
// .card-uploads-info .col-4-uploads i {
//   font-size: 1.3em;
//   text-align: center;
//   color: black;
// }

h5 {
  text-align: center;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
