.container-upload-materials {
  background-color: #e8e8e6;
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;
}

h2 {
  color: rgb(34, 15, 78);
  text-align:center;
  }

// p {
//   color: white;
// }

.btn-upload-materials {
  background-color: rgb(34, 15, 78);
  color: white;
  border-radius: 5px;
}

.new-upload-body {
  background-color: #7a6ad8;
}

.form-new-upload {
  color: rgb(34, 15, 78);
}

.btn-upload-materials:hover {
  background-color: black;
  color: white;
}
