.container-upload-materials {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;
}

h2 {
  color: white;
  text-align:center;
  font-size:40px;
  }

// p {
//   color: white;
// }

.btn-upload-materials {
  width: 120px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  background-color: #fab323;
  color: black;
  border-radius: 5px;
  font-size: 22px;
  border: 1px solid grey;
  margin-right: 20px;
}


.btn-not-now {
  font-size: 26px;
  width: 140px; /* Adjust the width as needed */
  height: 40px;
  border-radius: 5px;
  background-color: grey;
  color: white; /* Adjust the font size for the Not Now button */
}

.btn-upload-materials:hover,
.btn-not-now:hover {
  background-color: black;
  color: white;
}



.new-upload-body {
  background-color:#1797b1;
}

// .form-new-upload {
//   color: rgb(34, 15, 78);
// }

