.container-upload-materials {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;
}

h2 {
  color: rgb(34, 15, 78);
  text-align:center;
  }

// p {
//   color: white;
// }

.btn-upload-materials {
  background-color: #fab323;
  color: white;
  border-radius: 5px;
  border: 1px solid grey;
}

.btn-upload-materials:hover {
  background-color: #0e5d6d;
}

.new-upload-body {
  background-color:#116c7e;
}

.form-new-upload {
  color: rgb(34, 15, 78);
}

.btn-upload-materials:hover {
  background-color: black;
  color: white;
}
