.container-profile-show {
  display: flex;
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  position: relative;
  height: auto;
  width: 60%;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile-info {
  flex: 1;
  padding: 30px;
  text-align: center;
}

// .profile-body {
//   background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
//   background-size: cover;
//   background-attachment: fixed;
//   }


.profile-photo {
  padding: 30px;
  height: auto;
  max-width: 40%;
  max-height: 70%;
  margin: auto;
  margin-top: 20px;

}

.profile-photo img {
  max-width: 100%;
  border-radius: 15px;
  border: 2px solid #0e5d6d;
}

.profile-details {
  padding: 30px;
}

.h1-profile-show {
  color: white;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.h2-profile-show-name {
  font-size: 36px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.profile-details h5 {
  text-align: left;
}


.profile-show-name, .uploaded-materials {
  margin: 10px auto;
  max-width: 100%;
  color: black;
}

.profile-description {
  text-align: left;
  font-size: 22px;
}

.uploaded-materials.link-button,
.bookmarks-link-button {
  color: #0e5d6d;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px; /* Add margin on both sides */
}

.profile-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; /* Center-align the icons horizontally */
  bottom: 20px; /* Adjust bottom position */
  left: 50%; /* Adjust left position */
  transform: translateX(-50%); /* Center the icons horizontally */
}


.profile-icons a {
  color: #0e5d6d;
  margin: 0 25px; /* Adjust margin between icons */
  font-size: 30px;
  text-decoration: none;
}

.profile-icons i {
  transition: filter 0.3s ease;
}

.profile-icons i:hover {
  color: black;
}
