.container-profile-edit {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;

  h1 {
    color: white;
    text-align:center;
    }
}

.profile-edit {
  background-color:#116c7e;
}


.container-profile-edit .form-actions input[type="submit"] {
  background-color: #0e5d6d;
  color: white;
}

.container-profile-edit .form-actions input[type="submit"]:hover {
  background-color: black; /* Change background color to black on hover */
}

.strong-label {
  font-weight: 550;
}

.container-profile-edit .form-actions input[type="submit"] {
  background-color: #fab323;
  color: white;
  padding: 10px 20px; /* Add padding to increase space */
  margin-right: 20px; /* Add margin between buttons */
  border-radius: 5px; /* Round the borders */
  border: none; /* Remove default border */
}

.container-profile-edit .form-actions input[type="submit"]:hover {
  background-color: black; /* Change background color to black on hover */
}
