.container-profile-show {
  background-color: #f2f0e5;
  position: relative;
  height: auto;
  width: 60%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
h1 {
  color: orange;
  text-align:center;
  }

.profile-show-name {
  padding: 15px;
  margin-left: 50px;
}


.profile-description {
  padding: 15px;
  margin-left: 50px;
  max-width: 85%;
}


.uploaded-materials {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-left: 50px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.avatar-large {
  width: 100px;
  height: 100px;
  margin: 15%;
  border-radius: 50%;
  object-fit: cover;
}


.profile-show-name {
  margin-right: auto;
}


.profile-icons {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 40%;

}

.profile-icons a {
  color: rgb(129, 69, 10);
  margin: 0 20px;
  font-size: 26px;
  text-decoration: none;
}

.profile-icons i {
  transition: filter 0.3s ease;
}

.profile-icons i:hover {
  color: black;
}
