.container-profile-edit {
  height: auto;
  width: 60%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h1 {
    text-align:center;
    }
}


.container-profile-edit .form-actions input[type="submit"] {
  background-color: rgb(129, 69, 10);
  color: white;
}

.container-profile-edit .form-actions input[type="submit"]:hover {
  background-color: black; /* Change background color to black on hover */
}


.strong-label {
  font-weight: 550;
}
