.container-profile-edit {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;

}

.profile-edit {
  background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
  background-size: cover;
  background-attachment: fixed;
}

.h1-edit-profile {
  color: white;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }


.container-profile-edit .form-actions input[type="submit"] {
  background-color: #0e5d6d;
  color: white;
}

.container-profile-edit .form-actions input[type="submit"]:hover {
  background-color: black; /* Change background color to black on hover */
}

.strong-label {
  font-weight: 550;
}

.container-profile-edit .form-actions input[type="submit"] {
  background-color: #fab323;
  color: black;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 24px;
}

.container-profile-edit .form-actions input[type="submit"]:hover {
  background-color: #013843;
  color: white;/* Change background color to black on hover */
}
