.container-profile-new {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;

  h1 {
    color: white;
    text-align: center;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

.profile-new {
  background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
  background-size: cover;
  background-attachment: fixed;
}

.btn-profile-new,
.btn-maybe {
  border-radius: 5px;
  padding: 10px 20px; /* Adjusted padding */
  margin-right: 10px; /* Add margin between buttons */
}

.btn-profile-new {
  background-color: #fab323;
  color: black;
}

.btn-maybe {
background-color: grey;
  color: white;
  padding: 10px 20px; /* Same padding as btn-profile-new */
}

.btn-profile-new:hover,
.btn-maybe:hover {
  background-color: black;
  color: white;
}
