.container-profile-new {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 100px;
  padding-right: 100px;

  h1 {
    text-align:center;
    }
}

.profile-new {
  background-color:#116c7e;
}

.btn-profile-new {
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 25px;
  background-color: #0e5d6d;
  color: white;
}

.btn-secondary {
  border-radius: 5px;
  padding: 10px 20px;

}

.btn-profile-new:hover {
  background-color: black;
  color: white;
}
