<h1>My Uploads</h1>
<br>
<% if @resources.any? %>
  <div class="row justify-content-center">
    <% @resources.each do |resource| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card-upload" onclick="window.location='<%= resource_path(resource) %>'" style="cursor: pointer;">
          <img src="https://images.unsplash.com/photo-1509869175650-a1d97972541a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Resource Image" class="resource-image"><br>
          <div class="link-resource-title">
            <br><%= resource.title %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <br><h5>No resources uploaded yet.</h5><br>
<% end %>
<br>
<div class="card-links">
  <%= link_to "Upload Teaching Materials", new_resource_path, class: "btn btn-upload" %>
  <%= link_to "Back to Teaching Materials", resources_path, class: "btn btn-secondary" %>
</div>
<br><br><br>
