<h1>My Uploads</h1>

<% if @resources.any? %>
  <ul>
    <% @resources.each do |resource| %>
      <li>
        <%= link_to resource.title, resource_path(resource) %>
        <!-- Add any other attributes you want to display for each resource -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No resources uploaded yet.</p>
<% end %>

<%= link_to "Upload Resources", new_resource_path, class: "btn btn-primary" %>
<%= link_to "Back to Resources", resources_path, class: "btn btn-secondary" %>
