.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 5px 60px;
  font-family:  Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar-brand h4 {
  font-family:"Hammersmith One";
  font-size: 34px;
  color: #0e5d6d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

// .navbar-lewagon .navbar-toggler-icon {
//   font-size: 22px;
// }

.navbar-lewagon .nav-link {
  font-size: 24px;
  color: #0e5d6d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}
