.container-signup {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 45%;
  margin: 60px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;


  .btn-signup {
      background-color: #fab323;
      color:black;
      border-radius: 5px;
      padding: 10px 20px;
    }


  .btn-signup:hover {
    background-color: #013843;
    color: white;
  }
}

.h2-signup {
  color: white;
  text-align: center;
  font-size: 48px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.sign-up-body {
  background: linear-gradient(216deg, rgba(23,151,177,1) 7%, rgba(27,153,151,0.7847514005602241) 95%);
  background-size: cover;
  background-attachment: fixed;
}

.container-signup .signup-form  {
  text-align: left;
}

.container-signup .form-links {
  margin-top: 20px;
  text-align: left;
}


.form-links {
  margin-top: 20px;
  text-align: left;
}

.form-links a {
  text-decoration: none;
  color: inherit;
}

.form-actions {
  margin-top: 20px;
  text-align: left;
}
