.container-signup {
  background: radial-gradient(circle at top, rgb(84, 204, 228) , #cef2f2);
  height: auto;
  width: 45%;
  margin: 60px auto;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;


  .btn-signup {
      background-color: #fab323;
      color:black;
      border-radius: 5px;
      padding: 10px 20px;
      border: 1px solid grey;
    }


  .btn-signup:hover {
    background-color: black;
    color: white;
  }
}

.h2-signup {
  text-align: center;
  color:white;
  font-size: 40px;

}

.sign-up-body {
  background-color:#1797b1;
}

.container-signup .signup-form  {
  text-align: left;
}

.container-signup .form-links {
  margin-top: 20px;
  text-align: left;
}


.form-links {
  margin-top: 20px;
  text-align: left;
}

.form-links a {
  text-decoration: none;
  color: inherit;
}

.form-actions {
  margin-top: 20px;
  text-align: left;
}
